.calendar-container {
  padding: 2rem;
}

.calendar-placeholder {
  text-align: center;
  font-style: italic;
  color: #666;
  margin-top: 2rem;
}

button {
  background-color: #f6e27f;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f4d95e;
}

.export-btn {
  margin: 1rem 0;
  padding: 0.6rem 1.2rem;
  background-color: #f6e27f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.export-btn:hover {
  background-color: #f4d95e;
  transform: scale(1.05);
}

